@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;   

}

app-root,
app-login {
  display: block;
  height: 100%;
    background: linear-gradient(135deg, #234b2a 0%, #2f9c19c9 100%);
}